ipykernel # needed to work with notebooks in VS Code
pyglotaran==0.7.2
pyglotaran-extras==0.7.2
# to install the pyglotaran package from github, instead use the following
# git+https://github.com/glotaran/pyglotaran.git
# git+https://github.com/glotaran/pyglotaran-extras.git
